.home {
  padding: 0rem 0rem;
  color: #e0e0e0;
  background-color: #0a192f;
  text-align: center;
}

.content p {
  font-size: 1.2rem;
  line-height: 1.6;
  max-width: 800px;
  margin: 0 auto 1rem;
}

.btn {
  padding: 0.1rem 1.6rem;
  color: #0a192f;
  background-color: #64ffda;
  font-size: 1.1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #00cc88;
}

/* Experience Section */
.experience-section {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
  gap: 1rem;
}

.experience-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  text-align: center;
  color: #e0e0e0;
  border: 2px solid #9b59b6; /* Purple outline */
  padding: 0rem;
  height: 6rem;
  width: 30%;
  background-color: #0a192f; /* Match page background color */
  transition: all 0.3s ease;
  border-radius: 8px;
  font-size: 1.1rem;
}

.experience-item:hover {
  border-width: 3px;
  border-color: #d7bde2; /* Lighter purple on hover */
}

.experience-item h3, .experience-item p {
  display: inline-block;
  margin: 0;
  color: #64ffda;
}

.experience-item h3 {
  font-size: 1.6rem;
  font-weight: bold;
}

.percentage {
  font-size: 1.5rem;
  color: #ffffff;
}

@media (max-width: 768px) {
  .experience-section {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .experience-item {
    width: 90%;
    max-width: 400px;
  }
}
